@use "variables";

.layout-main-container {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  padding: var(--bl-topbar-h) 0 0 var(--sidebar-width, var(--bl-sidebar-w));
  transition: padding-left variables.$transitionDuration;
  position: fixed;
  width: 100%;
  width: -webkit-fill-available;
}

.layout-main {
  flex: 1 1 auto;
  min-width: 0;
  min-height: calc(100dvh - var(--bl-topbar-h));
}
