@use "variables";

@media screen and (min-width: 1960px) {
  .layout-main {
    width: 100%;
    margin-left: auto !important;
    margin-right: auto !important;
  }

}

@media (min-width: 992px) {
  .layout-wrapper {
    &.layout-overlay {
      .layout-main-container {
        padding-left: 0;
      }

      .layout-sidebar {
        transform: translateX(-100%);
        left: 0;
        top: var(--bl-topbar-h);
        height: calc(100dvh - var(--bl-topbar-h));
        border-radius: 0;
      }

      &.layout-overlay-active {
        .layout-sidebar {
          transform: translateX(0);
        }
      }
    }

    &.layout-static {
      .layout-main-container {
        padding-left: var(--sidebar-width, var(--bl-sidebar-w));
        box-sizing: border-box;
      }

      &.layout-static-inactive {
        .layout-sidebar {
          transform: translateX(-100%);
          left: 0;
        }

        .layout-main-container {
          padding-left: 0;
        }
      }
    }

    .layout-mask {
      display: none;
    }
  }
}

@media (max-width: 991px) {
  .blocked-scroll {
    overflow: hidden;
  }

  .layout-wrapper {
    .layout-main-container {
      padding-left: 0;
    }

    .layout-sidebar {
      transform: translateX(-100%);
      left: 0;
      top: var(--bl-topbar-h);
      height: calc(100dvh - var(--bl-topbar-h));
      border-radius: 0;
    }

    .layout-mask {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 998;
      width: 100%;
      height: 100%;
      background-color: oklch(0 0 0 / 0.5);
      backdrop-filter: blur(4px);
    }

    &.layout-mobile-active {
      .layout-sidebar {
        transform: translateX(0);
      }

      .layout-mask {
        display: block;
        animation: fadein variables.$transitionDuration;
      }
    }
  }
}

@media (max-width: 768px) {
  .layout-wrapper {
    .layout-main-container {
      padding: var(--bl-topbar-h) 0 0 0;
    }
  }
}
